body { background-color:#D4C7BE ; 
    line-height: 2;
    font-family: 'Segoe UI';
}
#btn {
 color : white ;
 background-color: #83756e ; 
 cursor: pointer;
 height: 30px;
}
#Search {
 text-align: left;
}
.b {
 height:30px ;
}
nav{ 
 text-align: center;      
}
#img {
 width: 30px;
 height: 30px;
}
.search ul{
 text-align: right;
}
.search li{   
display:inline-block; 
height:50px;
width:120px; 
}
.search li a {
color: black;
text-decoration: none;
display: inline-block;
text-align: right;
font-family: 'Segoe UI';
font-size: 12pt;
}
.s{
 width: 100%;
}    
.menu li {
 display: inline-block; 
 height:50px;
 width: 150px; 
}
.menu li  a {
color: whitesmoke;
text-decoration: none;
display: block;
font-family: 'Segoe UI';
font-size: 14pt;
font-weight: bold;
}
.menu li:hover {
 background-color: #00000080;
}